<strong>Recuperando Senha</strong>

<p>Solicitação de recuperação de senha foi realizada para o e-mail {{ email }}.</p>
<p>Para continuar com sua solicitação , utilize o token {{ token }}</p>
<p>Ou clique no link abaixo</p>
<a href="{{ link }}">Criar nova senha.</a>